.editorconfig
eslint.config.js
.eslintignore
.eslintrc.js
.eslintrc.cjs
.gitignore
.npmignore
.prettierignore
.prettierrc.json
.claude
CLAUDE.md
tsconfig.json
updates.config.js

node_modules
.github
.vscode
.gitmodules
.gitattributes
test.ts
script.ts
tsconfig*.json
typedoc*.json
*.txt
CONTRIBUTION.md
INSTALLATION.md

/src
/binary
/tests
/binding-jellyfin.gyp
/build
/externals
/go-astiav
/examples
/prebuilds
/scripts
/test
/testdata
/packages
/prebuildify
/prebuilds-artifacts
/node-av-*
/prebuildify
/*runner.txt
/docs