.editorconfig
eslint.config.js
.eslintignore
.eslintrc.js
.eslintrc.cjs
.gitignore
.npmignore
.prettierignore
.prettierrc.json
.claude
CLAUDE.md
tsconfig.json
updates.config.js

node_modules
.github
.vscode
.gitmodules
.gitattributes
test.ts
script.ts
tsconfig*.json
CONTRIBUTION.md

/src
/binary
/tests
/binding*.gyp
/build
/externals
/go-astiav
/examples
/prebuilds
/scripts
/test
/testdata